@{
    ViewBag.Title = "About";
}

<div class="wrap">
    <div class="container">
        <section class="top-bottom-space">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="title"><span>Our Philosophy</span></h2>
                    <p>
                        Foodsy stands against the disappearance of local food traditions and people's dwindling interest in the food they eat, where it comes from, how it tastes and how our food choices affect the rest of the world. We recognize and promote food producers, artisans, purveyors, chefs and restaurateurs who contribute meaningfully to the quality, authenticity, and sustainability of the food system.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="title"><span>Our Mission</span></h2>
                    <p>Foodsy works to create a food system based on the principles of high quality and taste, environmental sustainability, and social justice—in essence, a food system that is good, clean and fair. We seek to move our culture away from the destructive effects of an industrial food system and towards the cultural, social and economic benefits of a sustainable food system, regional food traditions, and the pleasures of the table.</p>
                </div>
                <div class="col-md-4">
                    <h2 class="title"><span>What We Do</span></h2>
                    <p>We support those who contribute to a good, clean, and fair food system, both for-profit and not-for-profit. We do this through several means:
                    <p>We provide educational and convivial plans of eating, drinking, and socializing, we learn to reclaim and evangelize the joys of the convivial table, and educate our taste.</p>
                </div>
            </div>
        </section>
    </div>
</div>
