<div class="page_container">
    <div class="container">
        <div class="row">
            <div>
                <img src="~/Content/img/American-Bar_1920x600_01.jpg" class="col-md-12" />
            </div>
        </div>
        <div class="wrap planning">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="@Url.Action("GetInformation", "CustomMenu", new { area = "Recipes" })">
                            <span class="img_icon icon1"></span>
                            <span class="link_title">Your meal plan</span>
                            Find a meal plan suited for your specific goals and needs!
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("AllArticles", "Articles", new { area = String.Empty })">
                            <span class="img_icon icon2"></span>
                            <span class="link_title">Healthy news</span>
                            What are the latest news and trends in the health area? Find out with us.
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("FavouriteRecipes", "FavouriteRecipes", new { area = "Recipes" })">
                            <span class="img_icon icon3"></span>
                            <span class="link_title">Favourite recipes</span>
                            The most delicious and easy to make recipes. Everybody loves them!
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("AllChallenges", "Challenges", new { area = String.Empty })">
                            <span class="img_icon icon4"></span>
                            <span class="link_title">New goals</span>
                            Want a new goal to achieve and be better? Challenge yourself here!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>