@model Foodsy.Web.ViewModels.Comment.CommentViewModel
<li>
    <div class="comment_right">
        <div class="comment_info">
            Posted by <a href="#">@Model.AuthorUsername</a> <span>|</span> @Model.CreatedOn
        </div>
        <div class="container">            
            @Model.Text
        </div>
    </div>
    <div class="clear"></div>
</li>