@using Foodsy.Data.Models;

<ul id="filters" class="option-set" data-option-key="filter">
    <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">All</a></li>
    @{
        Array values = Enum.GetValues(typeof(ChallengeType));
        var items = new List<System.Web.UI.WebControls.ListItem>(values.Length);

        foreach (var i in values)
        {
            items.Add(new System.Web.UI.WebControls.ListItem
            {
                Text = Enum.GetName(typeof(ChallengeType), i),
                Value = ((int)i).ToString()
            });
        }
    }

    @foreach (var item in items)
    {
        <li>@Ajax.ActionLink(item.Text, "Sort", new { id = item.Value }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "challenges", HttpMethod = "Post", OnSuccess = "( function() { changeColour(Detox); })" }, new { id = item.Text, @class = "btn dark_btn" })</li>
    }
</ul>