﻿@model IEnumerable<Foodsy.Web.ViewModels.Challenges.AllChallengesViewModel>

<div class="container">
    <div class="container inner_content">
        <div id="options">
            @Html.Partial("_ChallengeTypePartial")
            <div class="clear"></div>
        </div>
        <div class="row top-bottom-space">
            <div id="challenges">
                @Html.Partial("_AllChallengesPartial", Model)
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function changeColour(modelName) {
            $(".sorting").removeClass("selected");
            $("#" + modelName).addClass("selected");
        }
    </script>
}

