@using Foodsy.Web.Areas.Shop.ViewModels;
@{
    const string ControllerName = "ShoppingCart";
}

<h2 class="text-center">Your recipes to go :)</h2>

@(Html.Kendo()
    .Grid<RecipeViewModel>()
    .Name("grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Id).Hidden();
        cols.Bound(pr => pr.ImageUrl).ClientTemplate("<img src='" + "#=ImageUrl#' alt='#=Name #' Title='#=Name #' height='100' width='150'/>");
        cols.Bound(pr => pr.Name);
        cols.Bound(pr => pr.Portions);
        cols.Bound(pr => pr.PricePerPortion);
        cols.Bound(pr => pr.CreatedOn).Hidden();
        cols.Bound(pr => pr.ModifiedOn).Hidden();
        cols.Command(com => com.Edit()).Title("Edit");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .DataSource(data =>
        data
            .Ajax()
                .Model(model =>
                {
                    model.Id(product => product.Id);
                    model.Field(product => product.PricePerPortion).Editable(false);
                    model.Field(product => product.ImageUrl).Editable(false);
                    model.Field(product => product.Name).Editable(false);
                })
            .Read(read => read.Action("Read", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))