﻿@model IList<Foodsy.Web.ViewModels.Articles.ArticleViewModel>

<div class="col-md-8">
    @Html.DisplayForModel()

    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <a class="btn send_btn" href="@Url.Action("AllArticles", new { id = i })">@i</a>
    }
    <br />
    <br />
</div>