@model IEnumerable<Foodsy.Web.ViewModels.Articles.ArticleViewModel>

<div class="widget">
    <h2 class="title">
        <span>Recent posts</span>
    </h2>
    <ul class="recent_post">
        @foreach (var article in Model)
        {
            <li>
                <div>
                    <a href="@Url.Action("ArticleDetails", new { id = article.Id })">
                        @article.Title
                    </a>
                </div>
                @article.CreatedOn
                <div class="clear"></div>
            </li>
        }
    </ul>
</div>

