@model IEnumerable<Foodsy.Web.ViewModels.Tags.TagViewModel>

<div class="widget tags">
    <h2 class="title">
        <span>Tags</span>
    </h2>
    @foreach (var tag in Model)
    {
        @Ajax.ActionLink(tag.Name,
        "Sort",
        new { tagName = tag.Name },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "articles",
            HttpMethod = "Post"
        },
            null)
    }
</div>
