
@{
    ViewBag.Title = "AllArticles";
}

<div class="wrap">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <h2 class="title"><span><a href="blog_post.html">Lorem Ipsum is simply dummy text</a></span></h2>
                        <img src="~/Content/img/beer-tomato-food-knife-still-life_1920x1080_sc.jpg" />
                        <div class="post_info">
                            <div class="fleft">On <span>12 Nov 2020</span> / By <a href="#">John Smith</a> / Tags <a href="#">Works</a>, <a href="#">Personal</a></div>
                            <div class="clear"></div>
                        </div>
                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus...</p>
                        <a href="blog_post.html" class="arrow_link">Read more</a>
                    </div>
                    <div class="post">
                        <h2 class="title"><span><a href="blog_post.html">It is a long established fact that a reader will</a></span></h2>
                        <img src="~/Content/img/black-water-glass-strawberry.jpg" />
                        <div class="post_info">
                            <div class="fleft">On <span>12 Nov 2020</span> / By <a href="#">John Smith</a> / Tags <a href="#">Works</a>, <a href="#">Personal</a></div>
                            <div class="clear"></div>
                        </div>
                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus...</p>
                        <a href="blog_post.html" class="arrow_link">Read more</a>
                    </div>
                    <div class="post">
                        <h2 class="title"><span><a href="blog_post.html">Duis aute irure dolor in reprehenderit in voluptate velit esse</a></span></h2>
                        <img src="~/Content/img/chocolate-i-love-it_1920x1080_sc.jpg" />
                        <div class="post_info">
                            <div class="fleft">On <span>12 Nov 2020</span> / By <a href="#">John Smith</a> / Tags <a href="#">Works</a>, <a href="#">Personal</a></div>
                            <div class="clear"></div>
                        </div>
                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus...</p>
                        <a href="blog_post.html" class="arrow_link">Read more</a>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li><a href="#">&larr;</a></li>
                            <li class="active"><a href="#">10</a></li>
                            <li class="disabled"><a href="#">...</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">&rarr;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="widget">
                            <form class="form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn dark_btn">Search</button>
                            </form>
                        </div>
                        <div class="widget">
                            <h2 class="title"><span>recent posts</span></h2>
                            <ul class="recent_post">
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget tags">
                            <h2 class="title"><span>tags</span></h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Dolor</a>
                            <a href="#">Long established</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Latin words</a>
                            <a href="#">Excepteur sint</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
   