@model IEnumerable<Foodsy.Web.Areas.Recipes.ViewModels.Recipes.AllRecipesViewModel>
<div class="row">
    <div class="projects">
        @Html.DisplayForModel()
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <a class="btn send_btn" href="@Url.Action("AllRecipes", new { id = i })">@i</a>
    }
    <br />
    <br />
</div>

