@model IEnumerable<Foodsy.Web.Areas.Recipes.ViewModels.Recipes.AllRecipesViewModel>

<div class="container">
    <div class="page_container">
        <div class="wrap">
            <div class="container inner_content">
                <div id="options">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn send_btn" href="@Url.Action("CreateRecipe")">Create recipe</a>
                    }

                    @Html.Partial("_CategoriesPartial")

                    <div class="clear"></div>
                </div>
                <div id="all-recipes">
                    @Html.Partial("_AllRecipesPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function changeColour(modelName) {
            $("#" + modelName).addClass("selected");
        }
    </script>
}