@model IEnumerable<Foodsy.Web.Areas.Recipes.ViewModels.Recipes.AllRecipesViewModel>

<div class="container">
    <div class="page_container">
        <div class="wrap">
            <div class="container inner_content">
                <div id="options">
                    @Html.Partial("_CategoriesPartial")
                    <div class="clear"></div>
                </div>
                <div id="all-recipes">
                    @Html.Partial("_AllRecipesPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function changeColour(modelName) {
            $(".sorting").removeClass("selected");
            $("#" + modelName).addClass("selected");
        }
    </script>
}