@model Foodsy.Web.Areas.Recipes.ViewModels.Recipes.CreateRecipeViewModel

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Your recipe!</h2>
        <section id="userInformation" class="top-bottom-space">
            @using (Html.BeginForm("CreateRecipe", "Recipes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                
                <h3 class="text-center">Tell us the secret ingredient...</h3>
                <hr />
                
                @Html.EditorForModel()

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" class="btn send_btn" value="Share" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section scripts{
    <script>
        var count = 1;

        function addNestedForm(container, counter, ticks, content) {
            var nextIndex = $(counter).length;
            var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
        }
    </script>
}