@model Foodsy.Web.Areas.Recipes.ViewModels.Actions.ActionViewModel

<li class="action">
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-1 control-label" })
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Text, string.Empty, new { @class = "text-danger col-md-offset-1" })
    </div>
</li>

