@model Foodsy.Data.Models.MealType

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.EnumDropDownListFor(m => m, new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(m => m, string.Empty, new { @class = "text-danger col-md-offset-1" })
</div>