@{
    ViewBag.Title = "AllRecipes";
}

<div class="container">
    <div class="page_container">
        <div class="wrap">
            <div class="container inner_content">
                <div id="options">
                    <ul id="filters" class="option-set" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">All</a></li>
                        <li><a href="#filter" data-option-value=".category01" class="btn dark_btn">Category 01</a></li>
                        <li><a href="#filter" data-option-value=".category02" class="btn dark_btn">Category 02</a></li>
                        <li><a href="#filter" data-option-value=".category03" class="btn dark_btn">Category 03</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="projects">
                        <div class="col-md-4 element category01" data-category="category01">
                            <div class="hover_img">
                                <img src="~/Content/img/chocolate-ice-cream_1920x1080_sc.jpg" alt="" />
                                <span class="portfolio_zoom"><a href="" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Lorem ipsum dolor</a></h6>
                                <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category02" data-category="category02">
                            <div class="hover_img">
                                <img src="~/Content/img/cup-of-coffee_1920x1080_sc.jpg" alt="" />
                                <span class="portfolio_zoom"><a href="" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Pri ridens tibique</a></h6>
                                <div class="descr">Tota ullum soluta at qui. Et nam malorum deleniti eleifend, ei lorem recusabo vim.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category03" data-category="category03">
                            <div class="hover_img">
                                <img src="~/Content/img/salmon-and-fresh-vegetables_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Solet facilisi graeci</a></h6>
                                <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category01" data-category="category01">
                            <div class="hover_img">
                                <img src="~/Content/img/saucer-coffee-smoke-corn-spoon-cappuccino-foam-table-croissant-star-anise-cinnamon_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/4.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Facer ignota docendi</a></h6>
                                <div class="descr">Per modo alterum et, pri etiam vituperatoribus in, melius bonorum ornatus mea ut.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category02" data-category="category02">
                            <div class="hover_img">
                                <img src="~/Content/img/table-cookie-jar-chocolate-food_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/5.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Nec commodo saperet dissentias</a></h6>
                                <div class="descr">Cu quo fugit tempor nemore, aeque commodo comprehensam ea sea. Iriure fabellas constituto.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category03" data-category="category03">
                            <div class="hover_img">
                                <img src="~/Content/img/table-grain-saucer-cup-spoon-coffee-drink-smoke_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/6.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Eu tempor omnium sit</a></h6>
                                <div class="descr">Vivendo incorrupte ad cum. Id has volutpat accusamus, pri ne iusto tamquam intellegebat.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category01" data-category="category01">
                            <div class="hover_img">
                                <img src="~/Content/img/tomato-drop-food_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/7.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Quisque volutpat condimentum</a></h6>
                                <div class="descr">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh quisque condimentum velit.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category02" data-category="category02">
                            <div class="hover_img">
                                <img src="~/Content/img/wine-red-cheese-cheese-sausage-grapes-glass-bottle-knife_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/8.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Integer euismod lacus luctus</a></h6>
                                <div class="descr">Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget.</div>
                            </div>
                        </div>
                        <div class="col-md-4 element category03" data-category="category03">
                            <div class="hover_img">
                                <img src="~/Content/img/wine-red-grapes-bottle-glass-black-background_1920x1080_sc.jpg" />
                                <span class="portfolio_zoom"><a href="img/portfolio/9.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                                <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                            </div>
                            <div class="item_description">
                                <h6><a href="single_portfolio.html">Curabitur sit amet mauris</a></h6>
                                <div class="descr">Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede orci risus.</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

