@model IEnumerable<Foodsy.Web.Areas.Recipes.ViewModels.Recipes.AllRecipesViewModel>

<div class="container">
    <div class="container inner_content">
        <h2 class="text-center top-bottom-space">My favourite recipes</h2>
        <div class="row">
            <div class="projects">
                @Html.DisplayForModel()
                <div class="clear"></div>
            </div>

            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <a class="btn send_btn" href="@Url.Action("AllRecipes", new { id = i })">@i</a>
            }
            <br />
            <br />
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').find('a[rel=prettyPhoto]').prettyPhoto();
        });
    </script>
}
